@using Front.Areas.Admin.Models;
@using Front.Areas.Cars.Models
@using Microsoft.AspNetCore.Identity
@using Front.Areas.Moderator.ViewModels;

@model EditCarViewModel;

@{
    ViewBag.Title = "Edit car";
	Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

<h2>Изменить данные</h2>

<form asp-action="Edit" asp-controller="Catalog" method="post">

	<table>
		<tr>
			<th>Brand</th>
			<th>Model</th>
			<th>Year</th>
			<th>Color</th>
			<th>Distance</th>
		</tr>

        <tr>
            <td>
                <select asp-for="BrandId">
                    @foreach (Brand brand in Model.AllBrands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
            </td>
            <td>
                <select asp-for="ModelId">
                    @foreach (Model item in Model.AllModels)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </td>
            <td>
                <select asp-for="Year">
                    @foreach (int item in Model.AllYears)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </td>
            <td>
                <select asp-for="ColorId">
                    @foreach (Color item in Model.AllColors)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </td>
            <td>
                <input asp-for="Distance" />
            </td>
        </tr>

	</table>

	<div>
		<nav>
			<input type="button" onclick="window.history.go(-1); return false;" value="Back" />
			<input type="submit" value="Make changes" />
		</nav>
	</div>
</form>


