@using Front.Areas.Admin.Models;
@using Front.Areas.Cars.Models
@using Microsoft.AspNetCore.Identity
@using Front.Areas.Moderator.ViewModels;

@model EditCarViewModel;

@{
    ViewBag.Title = "Edit car";
    Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $('.photo').click(function () {
            var imageUrl = $(this).data('image');
            $('#imageModal').find('.modal-body img').attr('src', imageUrl);
            $('#imageModal').modal('show');
        });

        // Обработка изменения первого select
        $('#brands').change(function () {
            var selectedBrandId = $(this).val();

            // Выполнение AJAX-запроса для обновления списка моделей
            $.ajax({
                url: '/Moderator/Catalog/UpdateModels', // Замените на свой URL-адрес
                type: 'POST',
                data: { brandId: selectedBrandId },
                success: function (data) {
                    // Обновление списка моделей
                    $('#models').empty();
                    $.each(data, function (index, item) {
                        $('#models').append('<option value="' + item.id + '">' + item.name + '</option>');
                    });
                },
                error: function () {
                    console.log('Ошибка при выполнении AJAX-запроса');
                }
            });
        });
    });

    function goBack() {
        window.location.href = '/Moderator/Catalog';
    }
</script>

<h2>Изменить данные</h2>

<div id="photoListContainer">
    <div id="photoList">
        @foreach (Foto foto in Model.Fotos)
        {
            <div>
                <div class="photo" data-image="@foto.Path"><img src="@foto.Path"></div>
                <nav>
                    <form asp-action="DeleteFoto" asp-controller="Catalog" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="@foto.Id" />
                        <input type="submit" value="Delete" />
                    </form>
                </nav>
            </div>
        }

        

        <div>
            <form asp-action="AddFoto" asp-controller="Catalog" method="post" enctype="multipart/form-data">
                <input asp-for="@Model.Id" type="hidden" value="@Model.Id">
                <input type="file" name="uploadedFile" accept="image/*">
                <input type="submit" value="Upload" />
            </form>
        </div>

    </div>
</div>

<form asp-action="Edit" asp-controller="Catalog" method="post" id="yourForm">

    <table>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Distance</th>
        </tr>

        <tr>

            <td>

                <select asp-for="BrandId" id="brands">
                    @foreach (Brand brand in Model.AllBrands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>

            </td>
            <td>
                <select asp-for="ModelId" id="models">
                    @foreach (Model item in Model.AllModels)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </td>



            <td>
                <select asp-for="Year">
                    @foreach (int item in Model.AllYears)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </td>
            <td>
                <select asp-for="ColorId">
                    @foreach (Color item in Model.AllColors)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </td>
            <td>
                <input asp-for="Distance" />
            </td>
        </tr>

    </table>

    <div>
        <nav>
            <input type="button" onclick="goBack();" value="Back" />
            <input type="submit" value="Make changes" />
        </nav>
    </div>
</form>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Enlarged image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" alt="Enlarged Photo" class="img-fluid">
            </div>
        </div>
    </div>
</div>



