@using Front.Areas.Cars.Models;

@model IEnumerable<Car>

@{
	ViewBag.Title = "Cars";
    Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

<style>
	.color-item {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	.color-circle {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-weight: bold;
		margin-right: 10px;
	}
</style>

<h2>Cars</h2>
<p>
	<a class="createlabel" asp-action="Create">Create new car</a>
</p>
<table>
	<tr>
		<th>Logo</th>
		<th>Model</th>
		<th>Year</th>
		<th>Distance</th>
		<th>Color</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<div class="logoimage"><img src="@item.Model.Brand.Logo"></div>
			</td>

			<td>@item.Model.ToString()</td>
			<td>@item.Year</td>
			<td>@item.Distance</td>
			<td>

				<div class="color-item">
					<div class="color-circle" style="background-color: @item.Color.Name;">
					</div>
					<span>@item.Color.Name</span>
				</div>
			
			</td>

			<td>
				<a asp-action="Edit" class="editlabel" asp-controller="Catalog" asp-route-id="@item.Id">Edit</a>
			</td>
			<td>
				<form asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить" />
				</form>
			</td>
		</tr>
	}
</table>
