@using Front.Areas.Admin.Models;

@model Front.ViewModels.HomeViewModel;
@{
    var error = TempData["Error"] as string;
    var info = TempData["Info"] as string;
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/css/cars/index.css" asp-append-version="true" />

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="@Url.Content("~/js/cars/index.js")" asp-append-version="true" type="text/javascript"></script>

<script>
    var carsUrl = '@Url.Action("Index", "Cars")';
</script>

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">@error</div>
}

@if (!string.IsNullOrEmpty(info))
{
    <div class="alert-info">@info</div>
}

<h2>Home</h2>

<div class="contentcontainer">
    <div class="brandscontainer droppable-area-brands">
        @foreach (var brand in Model.Brands)
        {
            <div data-id="@brand.Id" class="draggable-item"><img src="@brand.Logo" class="brandlogo"></div>
        }
    </div>
    <div class="glasscontainer">
        <div class="droppable-area-stakan"><img src="/images/stakan2.png"></div>
    </div>
    <div class="carscontainer">
        <table class="carstable">
            <tr>
                <th>Logo</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Distance</th>
                <th>Color</th>
            </tr>

            @foreach (var car in Model.Cars)
            {
                <tr class="cartr">
                    <td style="width: 200px;">
                        <img src="@Model.Photos[car.Id].Path" class="carphotosmall">
                    </td>
                    <td>
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <img src="@car.Model.Brand.Logo" class="brandlogo">@car.Model.Brand.Name
                        </div>
                    </td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
                    <td>@car.Distance</td>
                    <td>
                        <div class="color-item">
                            <div class="color-circle" style="background-color: @car.Color.Name;">
                            </div>
                            <span>@car.Color.Name</span>
                        </div>
                    </td>
                </tr>
            }

            

        </table>

        <section id="paginationBlock">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-brandIds="@(string.Join(",", Model.Brands.Select(b => b.Id)))" class="pagination-item">
                    @(Model.PageViewModel.PageNumber - 1)
                </a>
            }
            <span class="pagination-item">@Model.PageViewModel.PageNumber</span>
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-brandIds="@(string.Join(",", Model.Brands.Select(b => b.Id)))" class="pagination-item">
                    @(Model.PageViewModel.PageNumber + 1)
                </a>
            }
        </section>

    </div>
</div>