@using Front.Areas.Cars.Models;

@model IEnumerable<Model>

@{
	var error = TempData["Error"] as string;
	ViewBag.Title = "Models";
	Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

@if (!string.IsNullOrEmpty(error))
{
	<div class="alert-danger">@error</div>
}

<h2>Models</h2>
<p>
	<a class="createlabel" asp-action="Create">Create new model</a>
</p>
<table>
	<tr>
		<th>Brand</th>
		<th>Name</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Brand.Name</td>
			<td>@item.Name</td>
			<td>
				<a asp-action="Edit" class="editlabel" asp-controller="Models" asp-route-id="@item.Id">Edit</a>
			</td>
			<td>
				<form asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить" />
				</form>
			</td>
		</tr>
	}
</table>
