@using Front.Areas.Cars.Models;

@model IEnumerable<Car>

@{
	ViewBag.Title = "Cars";
}

<h2>Cars</h2>
<p>
	<a class="createlabel" asp-action="Create">Create new car</a>
</p>
<table>
	<tr>
		<th>Logo</th>
		<th>Model</th>
		<th>Year</th>
		<th>Distance</th>
		<th>Color</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<div><img src="@item.Model.Brand.Logo" class="brandlogo"></div>
			</td>

			<td>@item.Model.ToString()</td>
			<td>@item.Year</td>
			<td>@item.Distance</td>
			<td>

				<div class="color-item">
					<div class="color-circle" style="background-color: @item.Color.Name;">
					</div>
					<span>@item.Color.Name</span>
				</div>
			
			</td>

			<td>
				<a asp-action="Edit" class="editlabel" asp-controller="Catalog" asp-route-id="@item.Id">Edit</a>
			</td>
			<td>
				<form asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Delete" />
				</form>
			</td>
		</tr>
	}
</table>
