@using Front.Areas.Cars.Models;

@model IEnumerable<Brand>

@{
    var error = TempData["Error"] as string;
    ViewBag.Title = "Brands";
}

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">@error</div>
}

<h2>Brands</h2>
<p>
    <a class="createlabel" asp-action="Create">Create new brand</a>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Logo</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>

            <td>
                <div><img class="brandlogo" src="@item.Logo"></div>
            </td>

            <td>
                <a class="editlabel" asp-action="Edit" asp-controller="Brands" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
