@using Front.Areas.Admin.Models;

@model IEnumerable<User> // Данные, с кот. работает вьюха.

@{
	ViewBag.Title = "Пользователи сайта";
	Layout = "/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<h2>Пользователи:</h2>
<p>
	@*asp -- Тэг-хелперы. Подключаются с помощью _ViewImports.cshtml. Без него не работает.*@
	<a asp-action="Create">Добавить нового пользователя</a>
</p>
<table>
	<tr>
		<th>Id</th>
		<th>Email</th>
		<th>Имя</th>
		<th>Пароль</th>
		<th>Роль</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.Email</td>
			<td>@item.Name</td>
			<td>@item.Password</td>
			<td>@item.Role</td>
			<td>
				@*asp-action вызове метод у контроллера по имени папки, где лежит вьюха.
					asp-route-твойтекст можно кастомизировать (не только id, а что угодно) -- параметр маршрута.
				*@
				<a asp-action="Edit" asp-controller="users" asp-route-id="@item.Id">Изменить</a>
			</td>
			<td>
				<form asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить"/>
				</form>
			</td>
		</tr>
	}
</table>